:root {
    --color: #333;
    --background-color: #E8E9EB;
    --background-color2: #555;
    --accent-color: #785dc8;
    --accent-color2: #F09D51;
}

body {
    background-color: var(--background-color);
    color: var(--color);
    font-family: 'Afacad Flux', sans-serif;
    margin: 0;
    padding: 0;
}

.card ul li a {
    color: var(--accent-color);
}

.card ul li a:hover {
    color: var(--accent-color2);
}

header {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: var(--accent-color2);
    padding: 0px;
}

header img {
    position: relative;
    width: 60px;
    padding: 16px;
}

h1 {
    color: var(--color);
}

#commerce {
    font-size: larger;
}

#mode {
    position: absolute;
    right: 20px;
    font-size: 40px;
}

#menu {
    background-color: var(--color);
    border: none;
    padding: 18px;
    width: 100%;
}

#menu:hover {
    background-color: var(--background-color2);
}

#menu::before {
    content: "🟰";
}

#menu.open::before {
    content: "✖️";
}

nav {
    display: none;
    background-color: var(--color);
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav a {
    display: block;
    padding: 18px 0px;
    text-decoration: none;
    color: var(--background-color);
}

nav a:hover {
    color: var(--accent-color2);
    background-color: var(--background-color2);
}

nav a:active {
    color: var(--accent-color);
}

nav.open {
    display: block;
}

.hero {
    max-width: 100%;
}

.hero-image {
    position: relative;
    overflow: hidden;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -12%);
    color: var(--background-color);
}

.container {
    background-color: var(--background-color);
    max-width: 800px;
    margin: 16px auto;
    padding: 0 16px;
}

.contact {
    display: block;
}

.top-message {
    padding: 16px;
    color: var(--background-color);
    background-color: var(--accent-color);
    text-align: center;
}

.grid {
    margin: 0 30px;
    text-align: center;
}

.gallery {
    margin-bottom: 30px;
}

main picture:hover {
    box-shadow: 20px 20px 50px 10px var(--accent-color) inset;
}

.gallery p {
    font-size: .95rem;
    margin-top: 0;
}

#aggie {
    margin-top: 5px;
}

#dentist {
    margin-bottom: 0;
}

.card p {
    font-size: 1rem;
    margin: 16px;
}

main img {
    width: 100%;
}

main div h2 {
    font-size: 8vw;
}

main div p {
    font-size: 5vw;
}

main div button {
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
    color: var(--background-color);
    background-color: var(--accent-color2);
    padding: 20px;
    font-size: 4vw;
}

main div button:hover {
    color: var(--accent-color);
}

h3 {
    color: var(--background-color);
    background-color: var(--accent-color2);
    margin: 0px;
    padding: 14px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px 0px;
}

ul {
    list-style-type: none;
}

.card1 {
    display: block;
    background-color: var(--background-color);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px 20px;
    box-shadow: 0 4px 8px 0 lightgray;
}

.card1 h3 {
    text-align: center;
    color: var(--background-color);
    background-color: var(--accent-color);
    padding: 16px 0;
    border-radius: 5px 5px 0 0;
}

.card1 p {
    margin: 16px;
    font-size: 16px;
}

#event {
    display: flex;
    flex-direction: column;
}

#event p {
    font-size: large;
    padding: 0 20px;
}

#event a {
    color: var(--accent-color);
}

#event a:hover {
    color: var(--accent-color2);
}

#weather1 {
    text-align: center;
    padding: 0 20px;
}

#weather1 li {
    padding: 10px 0px;
}

footer {
    background-color: var(--color);
    color: var(--background-color);
    text-align: center;
    padding: 10px;
}

#mod {
    color: var(--accent-color);
}