* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Reddit Mono', monospace;
    font-weight: 400;
  }
  
  header {
    background-color: #1d4d72;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    position: relative;
    gap: 1rem;
  }
  
  header span {
    font-size: 1.8rem;
    color: #fff;
    width: 50%;
  }
  
  nav {
    margin: 0 auto;
    display: grid;
    align-items: center;
    position: relative;
    justify-content: center;
  }
  
  main {
    /* padding: 20px 10px; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 1rem;
  }
  
  main > *:not(:first-child) {
    margin: 0 10px;
  }
  
  h1 {
    font-size: 1.1rem;
    color: #1d4d72;
    text-align: center;
    font-weight: 600;
    border-bottom: 0.5px solid #1d4d72;
  }
  
  h2 {
    background-color: #1d4d72;
    color: #fff;
    padding: 12px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
  }
  
  footer {
    background-color: #1d4d72;
    color: #fff;
    height: 160px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  footer p:first-child {
    font-size: 1.1rem;
    display: grid;
    grid-gap: 0.5rem;
    margin-bottom: 10px;
  }
  
  #limaMap {
    display: block;
    margin: 20px auto;
  }
  
  /* Mobile view navigation */
  #menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #eee;
    position: absolute;
    top: -2.3rem;
    right: 1rem;
    cursor: pointer;
  }
  
  #menu::before {
    content: '☰';
  }
  
  #menu.open::before {
    content: '❎';
    font-size: 1.3rem;
  }
  
  .navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #000000;
    color: #fff;
    width: 100vw;
    height: 100%;
  }
  
  .navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    height: 100%;
  }
  
  .navigation a:hover {
    background-color: #643219;
    color: #eee;
    font-weight: 700;
  }
  
  .open a {
    display: block;
  }
  
  .active::before {
    content: '🥰';
  }
  
  .active {
    color: #643219;
  }
  
  .card {
    border: 1px solid gray;
    border-radius: 7px;
    overflow: hidden;
    background-color: #eee;
  }
  
  .card ul {
    padding: 15px;
    list-style: none;
    font-size: 0.9rem;
  }
  
  .card > ul > li {
    margin-bottom: 4px;
  }
  
  .card#information {
    text-align: center;
  }
  
  .card#information > p {
    margin: 20px;
  }
  
  .card#information > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin: 20px 0;
  }
  
  #profilePhoto {
    box-shadow: #000000 1px 1px 10px;
  }
  
  #lastModified {
    color: yellow;
    font-size: 0.9rem;
  }
  
  /* Dark Mode */
  #darkBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    cursor: pointer;
  }
  
  main.dark {
    background-color: #000000;
  }
  
  main.dark h2,
  main.dark h1 {
    color: #eee;
  }
  
  .hero {
    position: relative;
  }
  
  .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .herolabel {
    position: absolute;
    top: 15px;
    left: 15px;
    background: radial-gradient(#fff, #4d5b97);
    border: 1px solid rgba(0, 0, 0, 0.75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
    /* Buenas */
  }
  
  .herolabel p {
    margin: 0;
    padding: 0.25rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Great Vibes', serif;
  }